<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">DIGESETTApp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Inicio
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="RegistrarMulta">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Registrar Multa
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ListadoMultas">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Listado Multas
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="MapaMultas">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Mapa Multas
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Comision">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Comision
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Admin">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Admin
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="GestionarAgentes">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Gestionar Agentes
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="GestionarMultas">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Gestionar Multas
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ReporteIngresos">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Reporte Ingresos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AcercaDe">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Acerca De
            </NavLink>
        </div>
        
    </nav>
</div>

